<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio>
    <music>
      <folder>audio/music/</folder>
      <musicVolumeModifier value="0.3" />
    </music>
    <sfx> 
      <folder>audio/fx/</folder>
      <sfxVolumeModifier value="1" />
    </sfx>
  </audio>

  <map>
    <folder>maps/</folder>
    <level1>
	<player_position x="150" y="450"/>
	<music song="Island_Coconuts.ogg" />
    </level1>
    <level2>
	<player_position x="250" y="320"/>
	<music song="Video_Game_Soldiers.ogg" />
    </level2>
  </map>

  <scene>
  <camera_frame x="300" y="175" w="300" h="300" />
  </scene>

  <player>
    <folder>sprites/characters</folder>
    <folder>audio/fx</folder>
    <dieFX source="Die.wav"/>
    <jumpFX source="JumpSoundEffect.wav"/>
    <position x="320" y="450" />
    <running_speed value="200"/>
    <acceleration value="75"/>
    <side_speed value="50"/>
    <jumpImpulse value="475"/>
    <doubleJumpImpulse value = "375" />
    <gravity value="35"/>
		
  </player>
  <particles>
    <folder>sprites/particles</folder>
    <dust source="particles.png"/>
  </particles>
  <ui>
    <transition_speed value="150.0" />
  </ui>

</config>